.filters {
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px #DDDDDD solid;
  border-radius: 4px;
}

.search {
  font-size: 18px;
  background-color: #FF5A5F;
  color: #FFFFFF;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  float: right;
  margin-right: 30px;
  margin-top: 12px;
  vertical-align: middle;
  
}

.search:hover {
  opacity: 90%;
}

.locations {
  float: left;
  height: 100%;
  width: 25%;
  border-right: #DDDDDD 1px solid;
  margin-left: 40px;
}

.amenities {
    float: left;
    height: 100%;
    width: 25%;
    margin-left: 40px;
}

.locations h3 {
    font-weight: 600;
    margin-bottom: 0px;
}

.locations h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}

.amenities h3 {
    font-weight: 600;
    margin-bottom: 0px;
}

.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
}
